main > .banner {
    height: 21.5rem;

    background-color: var(--color-accent-bg);
    color: var(--color-accent);

    padding: 3em 7.5em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: .5em;
}

main > .banner > .title {
    font-size: 3.6em;
    font-weight: 700;
    text-align: center;
}

main > .banner > .description {
    font-size: .7em;
    text-align: center;
    margin: 2em 14em;
}

main > .banner > .end {
    font-weight: 700;
    text-align: center;
}